*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.haveaccount{
    margin-top: 10px;
}
.white-link {
    color: rgb(255, 255, 255);
    font-weight: 700;

  }

.register-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background .shape { 
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child { 
  background: linear-gradient(#9b22ea, #bf23f6);
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.shape:last-child { 
  background: linear-gradient(to right, #ff512f, #f09819);
  right: 50%;
  bottom: 10%;
  transform: translateX(50%);
}

form {
  height: auto;
  width: 80%;
  max-width: 430px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  margin: 20px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

form h3 span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #e5e5e5;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

.RegisterBtn { 
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .register-container { 
    padding: 20px;
  }

  .background .shape { 
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }

  form {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
}
