.testimonials-img {
  position: relative;
}

.testimonials-img img {
  position: absolute;
  top: 60px;
  right: 30px;
  width: calc(100% + 5vw);
  max-width: initial;
}

.testimonials-box {
  display: flow-root;
  position: relative;
  padding: 30px;
  padding-top: 0;
  border-radius: 30px;
  margin: 50px 0 30px;
  background: linear-gradient(145deg, #999797, #8d8a8a);

  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.testimonials-box:hover {
  transform: scale(1.05);
  z-index: 2;
}

.testimonial-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.testimonials-box-img {
  width: 100px;
  height: 100px; 
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: 10px 10px 60px #868383;
  background-size: cover;
}


.testimonials-box-text .h3-title {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.testimonials-box-text p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}


@media (max-width: 991px) {

  .testimonials-img img {
        position: unset;
        width: 100%;
    }
    .testimonials-img {
        margin-bottom: 60px;
    }
}
